.articleImage {
  width: 100%;
}

.tag {
  padding: 6px 3px;
  border-radius: 5px;
  margin-right: 5px;
}
.paragraph2 {
  margin: 10px 0;
}
.capitalise {
  text-transform: capitalize;
}
.articleMetaData {
  margin: 10px 0;
  padding: 10px 0;
}
.content_enter {
  margin: 0 auto;
}
.tag_grid {
  display: inline-block;
}

.LikeSpan {
  position: fixed;
  left: 4%;
  top: 50vh;
  z-index: 77px;
}

.sticky {
  position: fixed;
  left: 4%;
  top: 50vh;
}

@media (max-width: 768px) {
  .LikeSpan {
    position: relative;
    left: auto;
    top: auto;
    z-index: 77px;
  }
  .sticky {
    position: relative;
    left: auto;
    top: auto;
  }
}

.spanDesAuthor {
  display: inline-block;
}

label{
    background: none !important;
    margin-left: -10px;
    border-radius: 5px;
    margin-right: 5px;
}

.Article {
    height: 100;
    border: 1px solid green;
    margin: 6px;
    padding: 8px;
}

.articlesList {
    margin: 0;
    padding: 0;
}

.articlesList li {
    list-style: none;
}

.lowercase {
  text-transform: lowercase !important;
}
