.button {
  height: 100%;
  border: none;
  float: right;
  margin-left: 6px;
}

.topheader {
  height: 100px;
}

.topheader h1 {
  color: #111010;
}

.bHeader {
  width: 200px;
}

a {
  color: #111010;
}

.profile_picture {
  border-radius: 50%;
  width: 50px;
}

.profile_drop_down {
  position: absolute;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #E9ECFB;
  margin-left: -86px;
  margin-top: 7px;
  border-radius: 5px;
  font-size: 15px;
  width: auto;
  min-width: 221px;
}

.profile_drop_down small {
  color: gray;
  font-size: 10px;
}
