.allArticlesContainer {
  width: 80%;
  margin: 0 auto;
}
.articleDiv {
  text-align: center;
}
.recentArticlesContainer {
  column-count: 3;
  column-gap: 1em;
}
.recentArticleDiv {
  padding: 4px;
  text-align: center;
  -webkit-column-break-inside: avoid;
}

h4 {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px;
}

.titleParagraph {
  font-size: 14px;
}

.authorTag {
  font-size: 12px;
  color: #838080;
}

.articleImg {
  width: 100%;
}
.viewMoreContainer {
  width: 100%;
  margin: 0 auto;
}
.viewMoreButton {
  color: white;
  font-size: 26px;
  padding: 16px 20px !important;
  background: rgb(17, 18, 26);
  border-radius: 4px;
  margin: 40px 0px 40px;
}

.viewMoreButton:hover {
  cursor: pointer;
  color: black;
  background: rgb(255, 255, 255);
}

body {
  height: 100vh;
}
