.Modal {
    position: fixed;
    z-index: 998;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 15px;
    left: 15%;
    top: 15%;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}

.Modal a {
    color: #0693e3;
    text-decoration: none;
}

.Modal a:hover {
    color: #00bcd4;
}

.Modal h3 {
    font-family: 'Roboto', sans-serif;;
}

.Modal button {
    width: 100% !important;
}

.password_reset_waring {
    color: red;
}

@media(min-width: 600px){
    .Modal{
        width: 500px;
        left: calc(50% - 250px);
    }
}
