.itemComponent {
  text-align: center;
  display: inline-block;
}
.itemHeader {
  text-align: center;
}
.itemDescription {
  text-align: center;
}
.itemAuthor {
  width: 100%;
  text-align: center;
  color: rgb(95, 95, 95);
}
